.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 670px;
  background-image: url("../../assets/Home/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
